---
import "@/styles/globals.css";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";

interface Props {
	type?: "centered" | "normal";
	title?: string;
	canonicalURL?: string;
}

const { type = "normal", title, canonicalURL } = Astro.props;

const metaTitle = "Roberts Brinkis - Portfolio";
const author = "Roberts Brinkis";
const description =
	"Experienced full stack developer specializing in creating modern, responsive web and native applications.";
const url = "https://brinkis.net";
const keywords =
	"web developer, portfolio, full stack developer, software engineer, UI/UX designer, astro";
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />

		<!-- Basic Meta Tags -->
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="author" content={author} />
		<meta name="robots" content="index, follow" />

		<!-- Open Graph Meta Tags (for social sharing) -->
		<meta property="og:title" content={metaTitle} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />

		<!-- Theme Color for Browser -->
		<meta name="theme-color" content="#6E84EE" />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL ?? url} />

		<title>{title ? `${title} | Brinkis` : "Brinkis"}</title>
	</head>
	<body class="min-h-full flex flex-col clip-f-b">
		<Navbar />
		<main
			class={`flex-1 ${type === "centered" ? "items-center flex justify-center" : ""}`}
		>
			<slot />
		</main>
		<Footer />
	</body>
</html>
